port: 8083

server:
  port: ${port}

management:
  server:
    port: ${port}

  endpoints:
    web:
      exposure:
        include: health,info

  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

spring:
  application:
    name: notification-service
