apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: production
  labels:
    app: notification-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notification-service
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification
          image: notification-service:v1.0.5
          imagePullPolicy: Never
          ports:
            - containerPort: 8083
              name: http
          # --- AQUI É ONDE AS VARIÁVEIS "ESTÃO" ---
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
            # 1. O Host (definido direto aqui)
            - name: MONGO_HOST
              value: "mongodb-service.production"
                # 2. O Usuário (pega da Secret 'mongo-secret')
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-secret              # Nome do arquivo Secret
                  key: MONGO_INITDB_ROOT_USERNAME # Chave dentro do Secret
            # 3. A Senha (pega da Secret 'mongo-secret')
            - name: MONGO_PASSWORD
              valueFrom:
               secretKeyRef:
                 name: mongo-secret              # Nome do arquivo Secret
                 key: MONGO_INITDB_ROOT_PASSWORD # Chave dentro do Secret
          resources:
            requests:
              memory: "256Mi" # Reduzi um pouco já que é app simples
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8083
            initialDelaySeconds: 90
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8083
            initialDelaySeconds: 60
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3